html {
	overflow-y: auto;
}
a {
	text-decoration: none;
}
.v-btn__content {
	text-transform: none;
}
.gradient {
	background: rgb(46, 106, 239);
	background: linear-gradient(
		50deg,
		rgba(46, 106, 239, 1) 0%,
			rgba(46, 170, 230, 1) 100%
	);
}
.gradient p,
.gradient span,
.gradient h1,
.gradient h2,
.gradient h3,
.gradient h4,
.gradient h5,
.gradient h6 {
	color: white !important;
}

.v-select.fit {
	width: min-content;
}
.v-select.fit  .v-select__selection--comma {
	text-overflow: unset;
	padding-right: 10px;
}