<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71803800375-k8bg000654t7ofastuet8p8e8eco17sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71803800375-k8bg000654t7ofastuet8p8e8eco17sj</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1udHher6IjIKpQKkAPU-sn2jdUXmS1k</string>
	<key>GCM_SENDER_ID</key>
	<string>71803800375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worxstr.app</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-ea99b</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-ea99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71803800375:ios:6815387404f876cfe668b2</string>
</dict>
</plist>